body { background-color: paleturquoise; }
html { background-color: white !important; }

h1 {
    font-family: 'Lily Script One', cursive;
    font-size: 20px;
}

h2 {
    font-family: 'Lily Script One', cursive;
    font-size: 12px;
}

h3 {
    font-family: 'Lily Script One', cursive;
    font-size: 9px;
    padding: 20px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

ul {
    width: 50%;
    margin-left: auto;
    padding: 0%;
}

li {
    display: inline-block;
    vertical-align: top right;
    padding: 15px;
    
}

nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 0,400;
    font-size: 18px;
    color: darkslategray;
    width: 73%;
    padding: %;
}

.navigation {
    background-color: white;
}

.navbar-nav {
    padding-left: 100px;

}